@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* * selects every element on the page*/
*{ 
  /*fit inside of the white box*/
  box-sizing: border-box;
  font-family: "Open Sans";
}

.responsive {
  max-width: 40%;
  max-height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background:#a5a6f6;
}

.wrapper{
  width: 500px;
  /*padding: top, right, bottom, left*/
  padding: 40px 40px 40px 40px;
  /*curved edges*/
  border-radius: 10px;
  text-align: center;
}

/*Text for "Login"*/
.wrapper header{
  font-size: 30px;
  /*AKA boldness*/
  font-weight: 400;
}

h1{
	font-size: 125%;
}

.wrapper form{
  margin: 30px 0;
}

.field{
  margin-bottom: 15px;
}

/*Email and PAssword textbox design*/
form .field .inputDesign{
  height: 45px;
  width: 100%;
  position: relative;
}

input{
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: none;
  caret-color: #a5a6f6;
  /*curved edges*/
  border-radius: 10px;
  border: 2px solid #bfbfbf;

}

input[type="submit"]{
  height: 40px;
  margin-top: 15px;
  color:#a5a6f6;
  border: none;
  background: white;
  cursor: pointer;
}

/*hover overbutton and make the light purple turn dark*/
input[type="submit"]:hover{
  background: #6604FF;
}

@media only screen and (max-width: 2000px) {
  body {
    margin: 0;
  }

  .wrapper{
    margin: auto;
    width: 65vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    z-index: 1;
  } 
}

@media only screen and (max-width: 200px) {
  body {
    margin: 0;
  }

  .wrapper {
    margin: auto;
    width: 65vw;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
  }

  .textinput {
    border-radius: 2px;
    padding: 1px;
    font-size: 0.5em;
    width: 50%;
  }

  img {
    max-width: 75%;
    width: 75vw;
  }
}