@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* * selects every element on the page*/

*{ 
  font-family: "Open Sans";
}

body{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background:#a5a6f6;
}

table {
  border-collapse: collapse;
  width: 90%;
}

.noBorder{
	border:none;
  padding: 0px;
}

td,th {
  border: 1px solid black;
  padding: 10px;
}

.students, .instructors, .courses {
  margin: 2%;
}

/*Design the button*/
body input[type="submit"]{
  height: 20px;
  margin-top: 0px;
  color:a5a6f6;
  border: none;
  background: #FFFFFF;
  cursor: pointer; 
}
/*hover over the button and make the light purple turn dark*/
body input[type="submit"]:hover{
  background: #6604FF;
}
