@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
/* * selects every element on the page*/
* {
 font-family: "Open Sans";
}
.responsive {
 width: 100%;
 max-width: 400px;
 height: auto;
}
body {
 width: 100vw;
 height: 100vh;
 align-items: center;
 justify-content: center;
 background: #a5a6f6;
}
.field {
 margin-bottom: 15px;
}
.field .inputDesign {
 height: 45px;
 width: 100%;
 position: relative;
}
/*input text box designs*/
input {
 background: #ffffff;
 width: 100%;
 height: 100%;
 outline: none;
 font-size: 18px;
 caret-color: #a5a6f6;
 /*curved edges*/
 border-radius: 10px;
 border: 2px solid #bfbfbf;
 border-bottom-width: 2px;
}
/*PLace holder design*/
.placeholder {
 color: #d3d3d3;
 font-size: 15px;
}
/*Forgot password and signup button*/
a {
 color: #865be4;
 /*Put none so the underline*/
 text-decoration: none;
}
a:hover {
 color: #2f1833;
}
/*Design the button*/
input[type="submit"] {
 height: 40px;
 margin-top: 15px;
 color: #a5a6f6;
 border: none;
 background: #ffffff;
 cursor: pointer;
 text-align: center;
}
/*hover over button and make the light purple turn dark*/
input[type="submit"]:hover {
 background: #6604ff;
}
@media screen and (max-width: 200px) {
 a {
  font-size: 20px;
  margin: 30px;
 }
 body {
  width: 20vw;
  height: 20vh;
  position: absolute;
 }
}
