body {
  background-color: #a5a6f6;
}
.Assignments {
  position: absolute;
  left: 15em;
  background-color: lightgray;
  width: 700px;
  padding: 50px;
  text-align: center;
  border: 2px solid black;
  top: 15em;
  height: 100%;
}
.sidebar {
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  height: 114%;
  padding: 10px;
  top: 15em;
}
@media screen and (min-width: 400px) {
  .content {
    font-size: 1.5em;
    line-height: 1.2em;
  }
 
  .sidebar {
    position: absolute;
    padding: 20px;
    border: 2px solid black;
    height: 114%;
    padding: 10px;
    top: 10.5em;
    height: 45em;
  }
  .Assignments {
    position: absolute;
    left: 14.2em;
    background-color: lightgray;
    width: 200px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    top: 15em;
    font-size: 0.7em;
    height: 64.3em;
  }
}
@media screen and (min-width: 600px) {
  .content {
    font-size: 1.5em;
    line-height: 1.2em;
  }
  .sidebar {
    position: absolute;
    padding: 20px;
    border: 2px solid black;
    height: 114%;
    padding: 10px;
    top: 15em;
    height: 35em;
  }
  .Assignments {
    position: absolute;
    left: 14.3em;
    background-color: lightgray;
    width: 400px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    top: 21.4em;
    height: 50em;
  }
}
@media screen and (min-width: 786px) {
  .content {
    font-size: 1em;
    line-height: 1.2em;
  }
  .Assignments {
    position: absolute;
    left: 15em;
    background-color: lightgray;
    width: 700px;
    padding: 50px;
    text-align: center;
    border: 2px solid black;
    top: 10em;
    font-size: 1.5em;
    height: 40.15em;
  }
  .sidebar {
    position: absolute;
    padding: 20px;
    border: 2px solid black;
    height: 20em;
    padding: 10px;
    top: 10em;
    height: 43.5em;
    font-size: 1.5em;
  }
}
