body {
 background-color: #a5a6f6;
}
.rubric {
 position: absolute;
 top: 0px;
 right: 50px;
}
@media screen and (min-width: 400px) {
 .content {
  font-size: 1.5em;
  line-height: 1.2em;
 }
 .sidebar {
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  height: 114%;
  padding: 10px;
  top: 10.5em;
  height: 45em;
 }
 .Assignment {
  position: absolute;
  left: 14.2em;
  background-color: lightgray;
  width: 200px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  top: 17.5em;
  font-size: 0.6em;
  height: 64.3em;
 }
 .rubric {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 0.9em;
 }
 .topAssign {
  position: absolute;
  left: 0px;
  top: 0px;
 }
 .submitarea {
  width: 0px;
  height: 1px;
 }
 textarea {
  position: absolute;
  left: 20px;
  width: 10em;
 }
 .buttons {
  position: absolute;
  top: 30em;
  left: 5em;
 }
 .topAssign {
  font-size: 0.9em;
 }
}
@media screen and (min-width: 600px) {
 .content {
  font-size: 1.5em;
  line-height: 1.2em;
 }
 .sidebar {
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  height: 114%;
  padding: 10px;
  top: 15em;
  height: 35em;
 }
 .Assignment {
  position: absolute;
  left: 16.3em;
  background-color: lightgray;
  width: 400px;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  top: 25em;
  height: 50em;
 }
 .rubric {
  position: absolute;
  top: 0px;
  right: 100px;
 }
 textarea {
  position: absolute;
  left: 10em;
  width: 20em;
 }
 .buttons {
  position: absolute;
  top: 28em;
  left: 10em;
 }
}
@media screen and (min-width: 768px) {
 .content {
  font-size: 1em;
  line-height: 1.2em;
 }
 .Assignment {
  position: absolute;
  left: 15em;
  background-color: lightgray;
  width: 700px;
  padding: 50px;
  text-align: center;
  border: 2px solid black;
  top: 10em;
  font-size: 1.5em;
  height: 30.15em;
 }
 .sidebar {
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  height: 20em;
  padding: 10px;
  top: 10em;
  height: 33.5em;
  font-size: 1.5em;
 }
 .rubric {
  position: absolute;
  top: 0px;
  right: 100px;
 }
 textarea {
  position: absolute;
  left: -2em;
  width: 20em;
  top: 15em;
 }
 .buttons {
  position: absolute;
  top: 17em;
  left: 6em;
 }
 .browse {
  position: absolute;
  right: -10em;
  top: 9em;
 }
 .topAssign {
  position: absolute;
  left: 14em;
  top: 0px;
 }
}
