body {
  background-color: #a5a6f6;
}
#CourseName {
  position: relative;
  left: 2em;
}
#CourseNumber {
  position: relative;
  left: 0.95em;
}
#confirmbtn {
  position: relative;
  top: 0.5em;
  left: 9.6em;
  width: 11em;
}
@media screen and (min-width: 20em) {
  .content {
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
@media screen and (min-width: 40em) {
  .content {
    font-size: 1em;
    line-height: 1.2em;
  }
}
