body {
     background-color: #a5a6f6;
}
 @media screen and (min-width:400px) {
     .content {
         font-size: 1em;
         line-height: 1.2em;
    }
     .Assignment {
         position: absolute;
         left: 10em;
         background-color: lightgray;
         width: 500px;
         padding: 50px;
         text-align: center;
         border: 2px solid black;
         top: 15em;
         font-size: 1em;
         height: 30.15em;
    }
     .sidebar {
         position: absolute;
         border: 2px solid black;
         height: 20em;
         padding: 10px;
         top: 15em;
         width: 10px;
         height: 33.5em;
         font-size: 1em;
    }
}
 @media screen and (min-width: 600px) {
     .content {
         font-size: 1em;
         line-height: 1.2em;
    }
     .Assignment {
         position: absolute;
         left: 10em;
         background-color: lightgray;
         width: 700px;
         padding: 50px;
         text-align: center;
         border: 2px solid black;
         top: 15em;
         font-size: 1em;
         height: 30.15em;
    }
     .sidebar {
         position: absolute;
         padding: 20px;
         border: 2px solid black;
         height: 20em;
         padding: 10px;
         top: 15em;
         height: 33.5em;
         font-size: 1em;
         width: 100px;
    }
}
 @media screen and (min-width: 768px) {
     .content {
         font-size: 1em;
         line-height: 1.2em;
    }
     .Assignment {
         position: absolute;
         left: 10em;
         background-color: lightgray;
         width: 1000px;
         padding: 50px;
         text-align: center;
         border: 2px solid black;
         top: 15em;
         font-size: 1em;
         height: 30.15em;
    }
     .sidebar {
         position: absolute;
         border: 2px solid black;
         height: 20em;
         width: 150px;
         padding: 10px;
         top: 15em;
         height: 35.1em;
         font-size: 1em;
    }
}
 